<!--内容-->
<div class="blog-header">
    <h1 class="blog-title">
        发现新大陆！
        <span class="glyphicon glyphicon-globe"></span>
    </h1>
    <p class="lead blog-description">在Columbus系统中，分享你的想法，发现你心中的新大陆</p>
</div>
<div class="row">
    <!--主要内容-->
    <div ng-include="'views/content.html'"></div>

    <!--导航-->
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div ng-include="'views/nav/search.html'"></div>
        <div ng-include="'views/nav/tag.html'"></div>
        <div ng-include="'views/nav/archive.html'"></div>
    </div>
</div>
